%h2.page-header
  = @item.title
  %small.text-success= @item.city.name
  %a.btn.btn-default.btn-xs{href: edit_attraction_path(@item)}
    %i.glyphicon.glyphicon-pencil

%p= @item.description.html_safe

%h3 Экскурсии
- @item.activities.each do |activity|
  = render 'shared/activity_list_item', activity: activity
